* {
  box-sizing: border-box;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-60 {
  flex-basis: 60%;
}

.column-20 {
  flex-basis: 20%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.arrow-styling {
  font-size: 60px;
}

.circle-margin {
  margin: 0 0.4rem;
}
