.container {
  margin: 0;
}

.container-off {
  height: 100vh;
  background-color: rgb(17 17 17);
}

.container-on {
  height: 100vh;
  background-color: rgb(254 249 241);
}

.row {
  display: flex;
}

.column-25 {
  flex-basis: 25%;
}

.row-styling {
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  margin: 0;
}

button {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.on {
  background-color: rgb(250 234 132);
  border: 1px solid rgb(250 234 132);
  box-shadow: 1px 1px 30px rgb(250 234 132);
}

.off {
  background-color: rgb(37 37 37);
  border: 1px solid rgb(37 37 37);
}
