* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 28px;
  white-space: pre;
}

.container {
  width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.red {
  color: rgb(248 6 6);
  border-bottom: 2px solid rgb(248 6 6);
}

.bottom-black {
  border-bottom: 2px solid black;
}

.green {
  color: rgb(24 205 27);
}

span {
  padding-bottom: 1px;
}
