* {
  font-family: Karla, serif;
}

.container {
  width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-three-fourths {
  width: 75%;
}

.margin-auto {
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: block;
}

.align {
  text-align: center;
}

.column-quarter {
  flex-basis: 25%;
}

.column-thirds {
  flex-basis: 33%;
}

.column-half {
  flex-basis: 50%;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 3px solid rgb(215 101 95);
  color: rgb(215 101 95);
  background-color: white;
  width: 146px;
  height: 30px;
  font-weight: bold;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

p {
  font-size: 14px;
  color: rgb(119 119 119);
  padding-left: 0;
  line-height: 1.5em;
}

img {
  height: 90px;
  width: 90px;
}

.p-body-margin {
  margin-top: 0;
  margin-right: 40px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

div.column-three-fourths {
  margin-top: 10px;
}

.padding-right {
  padding-right: 10px;
}

.margin-right-button {
  margin-right: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}
